body{
    background-color: aqua;
    font-size: 2em;
    padding: 30;
    color:chartreuse
    ;
}
h1{
    text-align: center;
    border: crimson;
    border-image-repeat: round;
    width: 1px;
    color: forestgreen;
    border-image-repeat: round;
    

}
img{
    color: black;
    border: solid;color: gold;
    size: 10px
    
}

 
 